.was-validated .form-control:invalid, .form-control.is-invalid, .was-validated .custom-select:invalid, .custom-select.is-invalid {
  border-color: #fb6340;
  box-shadow: 0 1px 3px rgb(251 99 64), 0 1px 0 rgb(251 99 64) !important;
  color: rgb(251 99 64);
}